:root {
  --green-darkest: #336A29;
  --green-dark: #498528;
  --green-mid: #80B155;
  --green-light: #C1D95C;
  --green-accent: #EAEF9D;
  --green-button-light: #F3F9B8;
  --green-button-border: #f4fad8;

  --text-primary: #3b433c;
  --text-secondary: #89a18a;
}



/* Contenedor general del formulario de asignación */
.assign-task-container {
  display: flex;
  flex-direction: column;
  gap: 12px;

  background: linear-gradient(
    145deg,
    var(--green-mid),
    var(--green-dark)
  );

  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.35);
  max-width: 600px;
  margin: auto;
}




.assign-task-item {
  margin-bottom: 6px;

  --background: var(--green-light);
  --border-color: var(--green-accent);
}


.assign-task-item ion-textarea::part(placeholder) {
  color: var(--text-secondary);
  opacity: 0.8;
}


/* Redondea el fondo real */
.assign-task-item::part(native) {
  border-radius: 12px;
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.08);
}


/* Labels */
.assign-task-item ion-label {
  color: var(--text-primary);
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}


/* Texto de inputs */
.assign-task-item ion-select,
.assign-task-item ion-textarea {
  color: var(--text-primary);
}


/* Botón */
.assign-button-task {
  margin-top: 10px;

  --background: var(--green-light);
  --color: var(--text-primary);

  border-top: 4px solid var(--green-accent);
  border-right: 4px solid var(--green-accent);
  border-bottom: 4px solid var(--green-accent);
  border-left: 4px solid var(--green-accent);

  border-radius: 20px;
  font-weight: 800;

  box-shadow: 0 6px 15px rgba(0,0,0,0.25);
  transition: transform 0.2s ease;
}


.assign-button-task::part(native) {
  border-radius: 16px;
  position: relative;
  overflow: hidden;

  box-shadow:
    0 4px 8px rgba(0,0,0,0.25),
    inset 0 1px 0 rgba(255,255,255,0.3);
}




.assign-button-task:hover {
  transform: translateY(-2px);
  --background: var(--green-button-light);
  filter: brightness(1.05);
  border-radius: 20px;


  border-top: 4px solid var(--green-button-border);
  border-right: 4px solid var(--green-button-border);
  border-bottom: 4px solid var(--green-button-border);
  border-left: 4px solid var(--green-button-border);
}



/*
.assign-task-container input,
.assign-task-container select,
.assign-task-container textarea {
  width: 100%;
  padding: 10px 12px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
  font-size: 0.5rem;
  margin-bottom: 5px;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}*/


.assign-task-item.textarea-item {
  --background: var(--green-light);
  border-radius: 12px;
}


.assign-task-item.textarea-item ion-textarea::part(native) {
  background: var(--green-accent);
  border-radius: 10px;
  padding: 10px;

  box-shadow:
    inset 0 2px 6px rgba(0,0,0,0.2);

  color: var(--text-primary);
  font-size: 0.9rem;
}



/* EFECTO HUNDIDO EN LA DESCRIPCION */
.assign-task-container textarea {
  width: 100%;
  padding: 12px 15px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.15);
  font-size: 1rem;
  margin-bottom: 10px;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.3);
  transition: all 0.3s ease;
}



/* Labels */
.assign-task-container label {
  color: var(--text-primary);
  margin-bottom: 5px;
  display: block;
  border-radius: 8px;
}
